* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 12px 50px;
  height: 70px;
  align-items: center;
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: #FFFFFF;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
}

header:hover {
  background: rgba(255, 255, 255, 1);
}

header.sticky {
  background: rgba(255, 255, 255, 1);
}

.logo {
  flex: 1;
}

.logo img {
  width: 150px;

}

.menu {
  flex: 3;
  display: flex;

}

.menu li {
  padding: 0 12px;
  position: relative;
}

.menu li a {
  font-size: 14px;
  font-weight: bold;
  display: block;
  line-height: 25px;
}

.other {
  flex: 1.5;
  display: flex;
}

.other li.search-bar {
  display: flex;


}

.other li {
  padding: 0 12px;
  position: relative;
}

.other li::after {
  
  content: "";
  display: block;
  width: 1px;
  height: 50%;
  background: #CCCCCC;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.other li:first-child {
  width: 100%;
  position: relative;
}

.other li:first-child input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  background: transparent;
}


.other li:first-child i {
  position: absolute;
  right: 10px;
}

/* Submenu---------------------------------- */
.sub-menu {
  position: absolute;
  width: 150px;
  border: 1px solid #ccc;
  padding: 10px 0 10px 20px;
  z-index: 1;
  visibility: hidden;
  transition: 0.3s;
  background: #fff;
  top: 50px;
}

.menu>li:hover .sub-menu {
  visibility: visible;
  top: 50px;
}

.sub-menu submenu-container {
  display: flex;
}

.menu li:hover .sub-menu {
  display: block;
  visibility: visible;
}

.sub-menu li ul a {
  font-weight: normal;
  font-size: 12px !important;
}

.sub-menu ul {
  padding-left: 20px;
}

.sub-menu>li>.ts-megamenu-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

/* Footer-------------------------------- */
footer {
  text-align: center;
}

.footer-top {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.footer-top img {
  height: 50px;
}

.footer-top li {
  padding: 0 12px;
  position: relative;
}

.footer-top li::after {
  content: "";
  display: block;
  width: 1px;
  height: 80%;
  background: #CCCCCC;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer-top li:last-child::after {
  display: none;
}

.footer-top li:last-child a {
  margin-right: 12px;
  color: #333;
}

.footer-center {
  text-align: center;
  margin-bottom: 20px;
}

/* App----------------------------------- */
.app-container {
  text-align: center;
  align-items: center;
  padding: 150px 0 50px 0;
}

.app-google {
  margin: 50px;
}

.app-google img {
  height: 50px;
}

.app-container p {
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 17px;
  color: #000;
  font-weight: bold;
}

.app-container input {
  margin-top: 50px;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  width: 400px;
  text-align: center;
  outline: none;
}

/* --------------------------------------
  Slide chuyển ảnh
 */
body {
  font: 14px/2 "Open sans", sans-serif;
  letter-spacing: 0.05em;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}

.btn::after {
  transition: border 0.1s linear 0.05s;
}

.btn .btn-inner {
  position: relative;
  z-index: 2;
}

.btn:hover {
  color: #373737;
  transition: color 0.1s linear 0s;
}

.btn:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}

.btn:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}

.slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.slideshow .slide.is-active {
  display: block;
}

.slideshow .slide.is-loaded {
  opacity: 1;
}

.slideshow .slide .caption {
  padding: 0 100px;
}

.slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}

.slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.slideshow .slide .image {
  width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow .slide .title {
  margin: 0 auto 15px;
  max-width: 1000px;
  font: 300 40px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}

.slideshow .slide .text {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 18px;
  line-height: 1.4;
}

.slideshow .slide .btn {
  margin: 15px 0 0;
  border-color: #fff;
}

.slideshow .slide .btn::before {
  background: #fff;
}

.slideshow .pagination {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
}

.slideshow .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}

.slideshow .pagination .item+.page {
  margin-left: -2px;
}

.slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s ease;
}

.slideshow .pagination .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  transition: width 0.2s ease;
}

.slideshow .pagination .item:hover::before,
.slideshow .pagination .item.is-active::before {
  background-color: #fff;
}

.slideshow .arrows .arrow {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}

.slideshow .arrows .prev {
  left: 30px;
}

.slideshow .arrows .prev:hover .svg {
  left: -10px;
}

.slideshow .arrows .next {
  right: 30px;
}

.slideshow .arrows .next:hover .svg {
  left: 10px;
}

.slideshow .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  transition: left 0.2s ease;
}

/* Category------------------------------ */
.row {
  display: flex;
  flex-wrap: wrap;
}
.category {
  padding: 100px 0 0;
}
.category-top {
  margin-bottom: 50px;
}
.category-top p{
  font-family: var(--main-text-font);
  margin: 0 12px;
  font-size: 12px;
}
.category-left {
  width: 20%;
  

}
.category-right {
  width: 80%;
}
.category-right-top-item:first-child {
  flex: 2;
  font-size: 16px;
  font-family: var(--main-text-font);
  font-weight: bold;
}
.category-right-top-item{
  flex: 1;
  padding: 0 12px;
}
.category-right-top-item button {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #ffff;
  border: 1px solid #dddddd;
  cursor: pointer;
}
.category-right-top-item select {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #ffff;
  border: 1px solid #dddddd;
  cursor: pointer;
}
.category-right-content {
  padding-top: 20px;
  justify-content: space-between;
}
.category-right-content-item {
  width: calc(25% - 12px);
  text-align: center;
  padding: 12px 0;
}
.category-right-content-item img {
  width: 100%;
}
.category-right-content-item h1{
  font-size: 12px;
  font-family: var(--main-text-font);
  text-align: center;
  margin-top: 6px;
  color: #333333;
}
.category-right-content-item p {
  font-size: 12px;
}
.category-right-bottom {
  justify-content: space-between;
  margin: 30px 0 20px;
  width: 100%;
}
.category-right-bottom p {
  font-family: var(--main-text-font);
  font-size: 11px;
}
.category-left ul li {
  padding: 12px 0;
}
.category-left ul li>a {
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--main-text-font);
}
.category-left ul li ul li {
  padding-left: 15px;
}
.category-left-li ul {
  display: none;
}
.category-left-li.block ul {
  display: block;
}
.category-left ul li ul li a {
  color: #333333;
  font-size: 12px;
}
/* Product---------------------------------- */
.product {
  padding: 100px 0;
}
.product-top {
  margin-bottom: 30px;
}
.product-top p {
  font-family: var(--main-text-font);
  margin: 0 12px;
  font-size: 12px;
}
.product-content-left {
  width: 50%;
}
.product-content-right {
  width: 50%;
  padding-left: 20px;
}
.product-content-left-big-img {
  width: 80%;
  padding-right: 20px;
}
.product-content-left-big-img img {
  width: 100%;
}
.product-content-left-small-img {
  width: 20%;
}
.product-content-left-small-img img {
  width: 100%;
}
